@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('variables.css');

body {
  background-color: var(--body_bg);
  margin: 0;
}

h1,h2,h3,h4,h5,h6, p {
  font-family: 'Nunito Sans', sans-serif;
}

#root {
  margin: 0 auto;
}

#themeButton {
  text-align: right !important;
}

.appbarHeader {
  color: var(--font_color);
  text-decoration: none !important;
}

.countryName {
  font-size: 20px !important;
}

.countryFacts {
  font-size: 15px !important;
  margin: .4rem 0;
}

.normalWeight {
  font-weight: 200;
}

 .appbarHeader {
  margin: 0 !important;
}

 .MuiToolbar-root, #appbar {
  background-color: var(--blue2) !important;
}

.grid-container {
  grid-gap: 10rem !important;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto; /* Two columns with equal width */
}

.cards {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
  justify-items: center;
}

.card {
  background-color: var(--blue2) !important;
}

.card a {
  color: #fff;
  text-decoration: none;
}

.filters {
  margin: 2rem 0;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr; 
}

.left-element {
  grid-column-start: 1; 
  grid-column-end: 2; 
}

.right-element {
  justify-self: end; 
}

.filters .MuiInputBase-root{
  background-color: var(--blue2);
}

ul {
  padding: 0 !important;
}

 li {
  background-color: var(--blue2) !important;
}

li a {
  color: var(--font_color);
  text-decoration: none;
}

 .MuiAutocomplete-root  {
  width: 380px !important;
}

 .MuiFormControl-root #filter  {
  width: 200px;
}



@media screen and (max-width: 900px) {

  .MuiAutocomplete-root{
    width: 100% !important;
  }

  .filters {
    margin: 2rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1rem;
  }

  .filters .right-element {
    justify-self: start; 
  }
}