@import url('variables.css');

h1, p {
  color: var(--font_color);
}

p {
  font-weight: 200;
  font-size: 1rem;
}

.bold{ 
  font-weight: 900;
}

#countryFlag {
  height: 100%;
  max-height: 700px;
  min-width: 300px;
  width: 100%;
}

#backButton {
  background-color: var(--blue2);
  color: var(--font_color);
  margin: 3rem 0 !important;
  padding-left: 2rem;
  padding-right: 2rem;
}

.countryContainer {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.inline {
  display: inline  !important;
}

.borders {
  margin-top: 2rem;
}

.stack {
  padding-left: 1rem;
}

@media screen and (max-width: 900px) {
  .countryContainer {
    grid-template-columns: 1fr; 
  }
  .stats {
    grid-template-columns: 1fr; 
  }
}